<!DOCTYPE html>
<html lang="en" xmlns:text-align="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <title>主页</title>
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">

    <link rel="stylesheet" href="/stylesheets/datapicker.css">
    <link rel="stylesheet" href="/stylesheets/report.css">
    <script src="/javascripts/bootstrap-datepicker.js"/>
    <script src="/javascripts/bootstrap.min.js"></script>
    <script src="/javascripts/jquery-1.10.2.min.js"></script>
    <script src="/javascripts/dateFormat.js"></script>
</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid" style="padding-right :0px;padding-left: 0px">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header" style="padding-left: 30px; ">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#" style=" color:#432f31; font-size:25px; font-weight:bold;"><%= title1 %></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1"
             style="background: #27d5ff;padding-right: 0px;padding-left: 0px;">
            <ul class="nav navbar-nav navbar-right" style="color: #101010 ;padding-right: 30px;padding-left: 0px;">
                <li><a href="/mainpage">编写周报 <span class="sr-only">(current)</span></a></li>
                <li class="active"><a href="/myReport">我的周报</a></li>
                <li><a href="/loginout">登出</a></li>

            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>

<div id="root">
    <ul class="list-group">
        <% for(var i = supplies.length - 1; i >= 0; i--) { %>
        <div id=<%= supplies[i]._id %> onclick="jumpDetail(id);" style="margin-left: 5%;margin-right: 5%">
            <li class="list-group-item" style="display: flex">
                <div style="width: 80%;float: left">
                     本周周报<br>日期:<%= supplies[i].date.Format("yyyy-MM-dd") %><br>
                    <% if(supplies[i].status){
                    %>
                    <div style="color: #30992c;">已审批</div>
                    <% } else{
                    %>
                    <div style="color: #c53a1c">未审批</div>
                    <% } %>
                </div>
                <% if(!supplies[i].submit){ %>
                <div id="edit" style="float: right; width:20%;display:flex;">
                    <div style="margin-right: 5px;float: left;width:30%">
                        <button id=<%= supplies[i]._id %> onclick="edit(id);" class="btn btn-info">编辑</button>
                    </div>
                    <div style="margin-right:5px;float:left;width: 30%">
                        <button id=<%= supplies[i]._id %> onclick="submitReport(id);" class="btn btn-info">提交</button>
                    </div>
                    <div style="]float:left;width: 30%">
                        <button id=<%= supplies[i]._id %> onclick="deleteRe(id);" style="color: #b92c28 "
                                class="btn btn-info">删除
                        </button>
                    </div>
                </div>
                <% } else{ %>
                <% } %>
            </li>
        </div>
        <% } %>
    </ul>
</div>
<script>
    function jumpDetail(reportId) {
        window.location.href = '/getDetail?id=' + reportId;
    }
    function edit(reportId) {
        event.stopPropagation();
        window.location.href = '/editReport?id=' + reportId;
    }
    function submitReport(reportId){
        event.stopPropagation();
        window.location.href = '/submitReport?reportId=' + reportId;
    }
    function deleteRe(reportId) {
        event.stopPropagation();
        $.post('/deleteReport',
                {
                    reportId: reportId
                }, function (data) {
                    if (data.isSuccess == true) {
                        document.getElementById(reportId).innerHTML = "";
                        alert('删除成功!');
                    }
                    else{
                        alert('删除失败,请刷新页面重试');
                    }
                }
        )
    }
</script>
</body>
</html>