<!DOCTYPE html>
<html lang="en" xmlns:text-align="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/html">

<head>
    <meta charset="UTF-8">
    <title>主页</title>
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">

    <link rel="stylesheet" href="/stylesheets/bootstrap-datetimepicker.css">
    <link rel="stylesheet" href="/stylesheets/bootstrap-select.css">
    <link rel="stylesheet" href="/stylesheets/report.css">

</head>
<nav class="navbar navbar-default">
    <div class="container-fluid" style="padding-right :0px;padding-left: 0px">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header" style="padding-left: 30px; ">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#" style=" color:#432f31; font-size:25px; font-weight:bold;">周报系统管理平台</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1"
             style="background: #27d5ff;padding-right: 0px;padding-left: 0px;">
            <ul class="nav navbar-nav navbar-right" style="color: #101010 ;padding-right: 30px;padding-left: 0px;">
                <li><a href="/adminMainpages">查看周报</a></li>
                <li class="active"><a href="/userManager">用户管理</a></li>
                <li><a href="/loginout">登出</a></li>

            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>

<div style="margin-left: 5%;margin-right: 5%">
    <h3>部门:<%= depart %></h3>
</div>

<div id="root">
    <ul class="list-group">
        <% for(var i = supplies.length - 1; i >= 0; i--) { if(supplies[i].typeU == '2'|| supplies[i].typeU =='1'){continue;}%>
        <div onclick="jumpDetail(id);" style="margin-left: 5%;margin-right: 5%">
            <li class="list-group-item" style="display: flex">
                <div style="width: 75%;float: left">
                    姓名:<%= supplies[i].name %><br>
                    <% if(supplies[i].status == '0'){
                    %>
                    <div style="color: #30992c;">用户状态:正常使用</div>
                    <% } else if(supplies[i].status == '1'){
                    %>
                    <div style="color: #c53a1c">用户状态:注册未激活</div>
                    <% } else { %>
                    <div style="color: #c53a1c">用户状态:离职</div>
                    <% } %>
                </div>
                <% if(supplies[i].status == '0' && typeU == '1' || typeU == '2'){ %>
                <div id="edit" style="float: right; width:20%;display:flex;">
                    <div style="margin-right: 5px;float: left;width:30%">
                        <button id=<%= supplies[i]._id %> onclick="userStop(id);" class="btn btn-info">停用</button>
                    </div>
                    <div style="]float:left;width: 30%">
                        <button id=<%= supplies[i]._id %> onclick="userDelete(id);" style="color: #b92c28 "
                                class="btn btn-info">删除
                        </button>
                    </div>
                    <% if(typeU == '1' && supplies[i].typeU == '0') { %>
                    <div style="margin-right:5px;float:left;width: 30%">
                        <button id=<%= supplies[i]._id %> onclick="addAdmin(id);" class="btn btn-info">设置为部门经理
                        </button>
                    </div>
                    <% } else if(typeU == '1' && supplies[i].typeU == '2') { %>
                    <div style="margin-right:5px;float:left;width: 30%">
                        <button id=<%= supplies[i]._id %> onclick="stopAdmin(id);" class="btn btn-info">取消部门经理
                        </button>
                    </div>
                    <% } %>

                </div>
                <% } else if(supplies[i].status == '1' && typeU == '1' || typeU == '2'){ %>
                <div id="edit" style="float: right; width:20%;display:flex;">
                    <div style="margin-right:5px;float:left;width: 30%">
                        <button id=<%= supplies[i]._id %> onclick="userAlive(id);" class="btn btn-info">激活</button>
                    </div>
                    <div style="]float:left;width: 30%">
                        <button id=<%= supplies[i]._id %> onclick="userDelete(id);" style="color: #b92c28 "
                                class="btn btn-info">删除
                        </button>
                    </div>
                </div>
                <% } %>

            </li>
        </div>
        <% } %>
    </ul>
</div>


</div>
<br>
<br>


<script src="/javascripts/jquery-1.10.2.min.js"></script>
<script src="/javascripts/bootstrap-datetimepicker.js"></script>
<script src="/javascripts/locales/bootstrap-datetimepicker.zh-CN.js" charset="UTF-8"></script>
<script src="/javascripts/bootstrap.min.js"></script>
<script src="/javascripts/bootstrap-select.js"></script>
<script>
    function userAlive(name) {
        event.stopPropagation();
        $.get('/userAlive', {id: name}, function (data) {
            if (data.isSuccess) {
                window.location.reload();
            } else {
                alert('激活失败,请刷新重试');
            }
        })
    }
    function userStop(name) {
        event.stopPropagation();
        $.get('/userStop', {id: name}, function (data) {
            if (data.isSuccess) {
                window.location.reload();
            } else {
                alert('激活失败,请刷新重试');
            }
        })
    }
    function addAdmin(name) {
        event.stopPropagation();
        $.get('/addAdmin', {id: name}, function (data) {
            if (data.isSuccess) {
                window.location.reload();
            } else {
                alert('设置管理员失败,请刷新重试');
            }
        })
    }
    function stopAdmin(name) {
        event.stopPropagation();
        $.get('/stopAdmin', {id: name}, function (data) {
            if (data.isSuccess) {
                window.location.reload();
            } else {
                alert('停用失败,请刷新重试');
            }
        })
    }
    //不可撤销
    function userDelete(name) {
        event.stopPropagation();
        $.get('/deleteUser', {id: name}, function (data) {
            if (data.isSuccess) {
                window.location.reload();
            } else {
                alert('删除失败,请刷新重试');
            }
        })
    }


</script>

</body>
</html>